.menu-header {
    text-align: center;
    padding: 1px 20px;
    margin-bottom: 30px;
    font-family: "Trirong", serif;
    font-size: 1.1rem;
    background-color: #e8e8e8;
}

.restaurant-logo {
    width: 100vw;
    max-width: 700px;
    height: auto;
    margin-bottom: 20px;
    align-items: center;
}

.restaurant-description {
    text-align: center;
    color: #04012e;
    margin-bottom: 30px;
}